
.TRACE {
    -fx-text-inner-color:gray;
}

.INFO {
     -fx-background-color:palegreen;
     -fx-control-inner-background: palegreen;
}

.WARN {
    -fx-background-color:sandybrown;
    -fx-control-inner-background: sandybrown;
}

.ERROR {
    -fx-background-color:lightcoral;
    -fx-control-inner-background: lightcoral;
}

.table-row-cell:odd {
    -fx-background-color:derive(-fx-control-inner-background, -10%);
}

.table-row-cell:focused {
    -fx-background-color:derive(-fx-control-inner-background, -40%);
}

.fontAwesome {
    -fx-font-family: FontAwesome;
}

.fontAwesome-button {
    -fx-font-family: FontAwesome;
    -fx-font-size: 14pt;
    -fx-padding: 5px;
}

.buttonOther {
    -fx-font-size: 11pt;
    -fx-padding: 5px;
}





